<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dog Age Calculator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
	<h1>Dog Age Calculator</h1>
	<form method="POST">
		<div class="form-group">
			<label for="dog_age">Enter your dog's age in years:  </label>
			<input type="text" id="dog_age" name="dog_age" required>
		</div>
		<button type="submit">Calculate</button>
	</form>
	
	{% if human_age %}
	<p>Your dog is about {{ human_age }} human years old.</p>
	{% endif %}
	<div class="athena-image">
		<img src="{{ url_for('static', filename='athena sunset.jpg') }}" alt="Athena">
		<p style="font-size: 1.2rem; margin-top: 10px;">
			Hello World! I'm Athena and I am {{ athena_age }} as of today.
		</p>
	</div>
</body>
</html>